{% load static %}

<header class="main-header">
    <!-- Logo -->
    <a href="/dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>PLCS</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>PLC</b> System</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">{{ notifs.2 }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have {{ notifs.2 }} unread messages</li>
              <li>
                <ul class="menu">
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="{% static 'profile_imgs/blank_user.png' %}" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="{% static 'profile_imgs/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="{% static 'profile_imgs/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="{% static 'profile_imgs/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="{% static 'profile_imgs/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="/messages">See All Messages</a></li>
            </ul>
          </li> -->
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">{{ notifs.2 }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have {{ notifs.2 }} new notification(s) </li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  {% for n in notifs.1 %}
                    <li>
                      <a href="{{ n.notification_link_to }}">

                      {% if n.notification_status == 0 %}
                        <span title="{{ n.notification_content }}"><i class="fa fa-users text-aqua"></i><strong> {{ n.notification_content }} </strong></span>
                      {% endif %}

                      {% if n.notification_status == 1 %}
                        <span title="{{ n.notification_content }}"><i class="fa fa-users text-aqua"></i> {{ n.notification_content }} </span>
                      {% endif %}

                      </a>
                    </li>
                  {% endfor %}


                  <!-- <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li> -->
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% static 'profile_imgs/blank_user.png' %}" class="user-image" alt="User Image">
              <span class="hidden-xs"> {{ user_names.0 }} </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{% static 'profile_imgs/blank_user.png' %}" class="img-circle" alt="User Image">

                <p>
                  {{ user_names.0 }} {{ user_names.1 }}
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <!-- <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
              </li> -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/profile" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Log out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <!-- <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static 'profile_imgs/blank_user.png' %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ user_names.0 }} {{ user_names.1 }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="/dashboard">
            <i class="fa fa-dashboard"></i> <span> Dashboard</span></a>
        </li>


        <!-- {% if 'Administrator' in roles_n_permissions.0 %}
          <li>
            <a href="#">
              <i class="ion ion-person"></i> <span> User Management </span></a>
          </li>
        {% endif %} -->

        <li class="treeview">
          <a href="#">
            <i class="fa fa-file-text-o"></i> <span> Project Management </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="/view_projects">
                <i class="fa fa-file-text-o"></i> <span> My Projects </span></a>
            </li>

            <!-- <li>
              <a href="#">
                <i class="fa fa-file-text-o"></i> <span> Collaboration Requests Sent </span></a>
            </li> -->

            <li>
              <a href="/view_projects_collaborations/">
                <i class="fa fa-file-text-o"></i> <span> Ongoing Collaborations </span></a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/learning_content_modules">
            <i class="fa fa-fw fa-folder-o" style="margin-left: -0.4rem"></i> <span style="margin-left: 0.4rem"> Learning Content Management </span></a>
        </li>

        <!-- <li>
          <a href="/view_projects">
            <i class="fa fa-file-text-o"></i> <span> Project Management</span></a>
        </li> -->

        

        <li>
          <a href="/get_saved_projects/">
            <i class="fa fa-fw fa-bookmark-o" style="margin-left: -0.4rem"></i> <span style="margin-left: 0.4rem"> Saved Projects </span></a>
        </li>

        <li>
          <a href="/get_saved_learning_modules/">
            <i class="fa fa-fw fa-bookmark-o" style="margin-left: -0.4rem"></i> <span style="margin-left: 0.4rem"> Saved Learning Modules </span></a>
        </li>

        <!-- <li>
          <a href="#">
            <i class="fa fa-fw fa-folder-o" style="margin-left: -0.4rem"></i> <span style="margin-left: 0.4rem"> Flash card Management </span></a>
        </li> -->

        

        <!-- <li>
          <a href="#">
            <i class="fa fa-fw fa-line-chart" style="margin-left: -0.3rem"></i> <span style="margin-left: 0.3rem"> Progress </span></a>
        </li> -->

        {% if 'Administrator' in roles_n_permissions.0 %}
          <li>
            <a href="/roles_permissions">
              <i class="fa fa-lock"></i> <span> Roles & Permissions </span></a>
          </li>
        {% endif %}
        
        <!-- <li>
          <a href="#">
            <i class="fa fa-gear"></i> <span> Settings </span></a>
        </li> -->

        <!-- <li>
          <a href="/nm_user">
            <i class="fa fa-user"></i> <span> Normal user Page </span></a> 
        </li> -->


        
        <!-- <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>